header {
    background-color: aqua;
}

#nav {
    background-color: red
}

.article {
    background-color: blue;
    flex: 2;
}

.aside {
    background-color: yellow;
    flex: 1;
}
.main {
    display: flex;
}

footer {
    background-color: green;
}
